.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set height to occupy the full viewport height */
  }
  
  .form-container {
    width: 300px; /* Set a specific width for the form container */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  .button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  